
@import url(http://fonts.googleapis.com/css?family=Andika|Yanone+Kaffeesatz|Coda&subset=latin,latin-ext);

* {
	font-family: 'Andika', sans-serif;
}

body {
	padding-top:	60px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: normal;
}

q {
	font-family: 'Coda', cursive;
}

.orange {
	color:		#ff6600;
}


a {
	color:		#ff6600;
}


a:hover {
	color:		#b05000;
}


.hero-unit {
	background:	url('/static/img/transmap.png') center center no-repeat #eee;
}


.right {
	float: right;
}


footer {
	text-align:	center;
}

.topic {
	margin-top:		10px;
	border-top:		1px solid #ddd;
}

.longname {
	font-size:			12px;
	color:				#ccc;
}

.lexp {
	display:			inline-block;
	overflow:			hidden;
	width:				0px;
	height:				23px;
}

.brand {
	width:				200px;
}

.mainedit select {
	width:				600px;
}

.mainedit textarea {
	width:				600px;
	height:				300px;
}