{% extends "base.html" %}
{% block content %}
<h1>About DiRiWa</h1>

<p>
DiRiWa is a project aiming to collect information about the state of
communications and information freedom around the world, generally
sorted by legal jurisdiction. We are interested in legal rights
regarding communication, surveillance, access to government
information, censorship, the use (and abuse) of copyright, patent and
trademark legislation, and other issues that either legally or
practically threaten the free spread of information. 
</p>

<p>
These issues are important in modern society&mdash;any society,
really&mdash;because so much of what we do is about sending or
receiving information. Information about what politicians are doing,
for instance, is critical for a functioning democracy. The right to
privacy is considered a fundamental human right, but is often violated
through extensive monitoring of electronic communications. Copyright
legislation can be used to put in place legal environments that
subsequently are used to censor political speech. Much of this happens
unnoticed by the majority of people.
</p>

<p>
There is no existing effort to consistently collect, categorise,
quantify and compare the status of information-flow environments in
countries around the world. This is problematic. Nobody really knows
what the situation is like on a global scale. In fact, nobody really
knows what the situation is like, even in Europe or the United States;
the places where people have been most concerned about these issues.
Although we have measures of political corruption, of economic
development, of the freedom of the press, but not of the strength of
privacy or the right to free communication.
</p>

<p>
DiRiWa is an attempt to fix this, and to try and find out what the
situation is like, both for specific regions and in general. For the
time being, we expect to mostly be collecting qualitative data and
doing legal analysis. Once the picture becomes clearer, it will
hopefully become possible to develop a quantitative measurement of
digital rights that can be useful in guiding further activism.
</p>

{% endblock %}
