{% extends "base.html" %}
{% block content %}
	<div class="hero-unit"> 
		<h1><span class="orange">Di</span>gital <span class="orange">Ri</span>ghts <span class="orange">Wa</span>tch</h1> 
		<p>Welcome to DiRiWa, a collaborative database for mapping the communications and information rights in the world. We look at laws, court cases and specific topics relating to censorship, access to information, privacy and intellectual monopolies. Look around, join, log in and help us understand where we are and where we're going.</p> 
		<p><a class="btn primary large">Learn more &raquo;</a></p> 
        </div> 
 
        <div class="row"> 
		<div class="span6"> 
			<h2>Heading</h2> 
			<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p> 
			<p><a class="btn" href="#">View details &raquo;</a></p> 
		</div> 
		<div class="span6"> 
			<h2>Heading</h2> 
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
			<p><a class="btn" href="#">View details &raquo;</a></p> 
		</div> 
		<div class="span6"> 
			<h2>Heading</h2> 
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> 
			<p><a class="btn" href="#">View details &raquo;</a></p> 
		</div> 
	</div>
  
        <div class="row"> 

		<div class="span6"> 
			<h2>Heading</h2> 
			<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p> 
			<p><a class="btn" href="#">View details &raquo;</a></p> 
		</div> 
		<div class="span6"> 
			<h2>Heading</h2> 
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
			<p><a class="btn" href="#">View details &raquo;</a></p> 
		</div> 
		<div class="span6"> 
			<h2>Heading</h2> 
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> 
			<p><a class="btn" href="#">View details &raquo;</a></p> 
		</div> 
	</div> 
{% endblock %}