{% extends "base.html" %}
{% block content %}
	<div class="hero-unit"> 
		<h1><span class="orange">Di</span>gital <span class="orange">Ri</span>ghts <span class="orange">Wa</span>tch</h1> 
		<p>Welcome to DiRiWa, a collaborative database for mapping the communications and information rights in the world. We look at laws, court cases and specific topics relating to censorship, access to information, privacy and intellectual monopolies. Look around, join, log in and help us understand where we are and where we're going.</p> 
		<p><a href="/about/" class="btn primary large">Learn more &raquo;</a></p> 
        </div> 
 
	{% for i in recentnews %}
	{% if forloop.counter|divisibleby:"3" or forloop.first %}
        <div class="row"> 
	{% endif %}
		<div class="span6"> 
			<h2>{{i.headline}}</h2> 
			<div>
			  {% for entity in i.itemref.all %}
			  {% if entity.region %}
			  <a href="/regions/{{entity.id}}/">{{entity.region.get_name}}</a>
			  {% endif %}
			  {% if entity.topic %}
			  <a href="/topics/{{entity.id}}/">{{entity.topic.name}}</a>
			  {% endif %}
			  {% endfor %}
			  {% for tag in i.entitytag_set.all %}
			  <a href="/tags/{{tag.id}}/">{{tag.tag.name}}</a>
			  {% endfor %}
			</div>
			<p>{{i.text|safe|truncatewords_html:50}}</p>
			<p><a class="btn" href="/news/{{i.id}}/">View details &raquo;</a></p> 
		</div> 
	{% if forloop.counter|divisibleby:"3" or forloop.last %}
	</div>
	{% endif %}
	{% endfor %}

{% endblock %}
