{% extends "base.html" %}
{% block actions %}
		<a href="/regions/{{region.id}}/sections/add/" class="btn">Add a section</a>
		<a href="/regions/{{region.id}}/news/add/" class="btn">Add news item</a>
		<a href="/regions/{{region.id}}/links/add/" class="btn">Add link</a>
		<a href="/regions/{{region.id}}/memberships/add/" class="btn">Edit memberships</a>
{% endblock %}
{% block content %}

{% if region.shortname %}
<h1>{{region.shortname}}{% if region.name %} <small>({{region.name}})</small>{% endif %}</h1>
{% else %}
<h1>{{region.name}}</h1>
{% endif %}
	
<div class="content">
	<div class="row">
		<div class="span6">
			<h2>Region statistics</h2>
			<table class="table table-bordered table-condensed">
			{% if region.regionmembers.count %}<tr> <td>Countries:</td><td>{{region.regionmembers.count}}</td> 	</tr> {% endif %}
			<tr> <td>Population:</td><td>{{region.population}}</td>			</tr>
			<tr> <td>Region type:</td><td>{{region.type}}</td>			</tr>
			{% if region.url %}<tr> <td>Website:</td><td><a href="{{region.url}}">{{region.url}}</a></td></tr>{% endif %}
			{% if region.itu_t %}<tr> <td>Dialing prefix:</td><td>{{region.itu_t}}</td></tr>{% endif %}
			{% if region.deptype %}<tr> <td>Political status:</td><td>{{region.deptype}}{% if region.depsubtype %}, {{region.depsubtype}}{%endif%}</td></tr>{% endif %}
			{% if region.capital %}<tr> <td>Capital:</td><td><a href="http://en.wikipedia.org/wiki/{{region.capital}}">{{region.capital}}</a></td></tr>{% endif %}
			{% if region.currency %}<tr> <td>Currency:</td><td>{{region.currency}}</td></tr>{% endif %}
			{% if region.languages.count %}<tr> <td>Languages:</td><td>{% for lang in region.languages %}{{lang}}, {%endfor%}</td></tr>{% endif %}
			</table>
		</div>

		<div class="span6">
			<h2>Table of Contents</h2>
			<div class="well">
			<ul>
			{% for section in region.section_set.all %}		
				<li><a href="#section-{{section.topic.name|slugify}}-{{section.id}}">{{section.topic.name}}</a></li>
			{% empty %}
				<li><a href="/regions/{{region.id}}/sections/add/">This {{region.type.name|lower}} has no information registered about it. Please help DiRiWa grow by adding some information!</a></li>
			{% endfor %}
			</ul>
			</div>
		</div>

	</div>

	{% if region.section_set.count %}
	<hr/>
	<div class="row">
		<div class="span4">
			<h2>Overall Digital Rights Situation</h2>

			

			</div>
	</div>
	{% endif %}


	<hr/>
	<div class="row">
		{% if region.agreements %}
		<div class="span4">
			<h2>International agreements in the region</h2>
			<div class="biglist">
			        <input type="search" onkeyup="biglist_filter(this);"/>
			        <ul>
				{% for i in region.agreements %}
				        <li><a href="/regions/{{i.region.id}}/">{{i}}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
	
		{% if region.treaties %}
		<div class="span4">
			<h2>International agreements</h2>
			<div class="biglist">
			       <input type="search" onkeyup="biglist_filter(this);"/>
			       <ul>
				 {% for i in region.treaties %}
				     <li><a href="/regions/{{i.region.id}}/">{{i.region}}</a>{% if i.type %} <small>({{i.type}})</small>{% endif %}</li>
				 {% endfor %}
			       </ul>
			</div>
		</div>
		{% endif %}

		{% if region.unions or region.geographical %}
		<div class="span4">
			<h2>Unions and regional relations</h2>
			<div class="biglist">
			  <input type="search" onkeyup="biglist_filter(this);"/>
			  <ul>
			{% for i in region.unions %}
				<li><a href="/regions/{{i.region.id}}/">{{i.region}}</a>{% if i.type %} <small>({{i.type}})</small>{% endif %}</li>
			{% endfor %}
			{% for i in region.geographical %}
				<li><a href="/regions/{{i.region.id}}/">{{i.region}}</a>{% if i.type %} <small>({{i.type}})</small>{% endif %}</li>
			{% endfor %}
			  </ul>
			</div>
		</div>
		{% endif %}

		{% if region.regionmembers.count %}
		<div class="span4"> 
			<h2>
				{% if region.type.name == "Country" %}Dependencies{% endif %}
				{% if region.type.name == "Union" %}Members{% endif %}
				{% if region.type.name == "Geographic region" %}Countries{% endif %}
				{% if region.type.name == "Block" %}Countries{% endif %}
				{% if region.type.name == "Treaty" %}Signatories{% endif %}
			</h2>
			<div class="biglist">
			  <input type="search" onkeyup="biglist_filter(this);"/>
			  <ul>
				{% for country in region.regionmembers.all %}
				<li><a href="/regions/{{country.id}}/">{{country.shortname}}</a></li>
				{% endfor %}
			  </ul>
			</div>
		</div>

		{% endif %}
	</div>

	<div class="row">
	{% for section in region.section_set.all %}
		{% include "diriwa/section_display.html" %}
	{% endfor %}
	</div>

	{% if region.relitem.count %}
	<div class="row">
	  <h2>News</h2>
	  {% for item in region.relitem.all|slice:":6" %}
	        {% include "diriwa/newsitem_display.html" %}
	  {% endfor %}
	</div>
	<div class="row">
	  {% if region.relitem.count > 6 %}
	        <a class="btn btn-large" href="/regions/{{region.id}}/news/">More news! &raquo;</a>
	  {% endif %}
	</div>
	{% endif %}

</div>

{% endblock %}
