{% extends "base.html" %}
{% block content %}

<div class="span8 right" style="text-align: center;">
		<a class="btn">Add a topic</a>
		<a class="btn">Add news item</a>
		<a class="btn">Add link</a>
</div>
<h1>{{region}}</h1>

<div class="span6" style="float:right;"> 
	<h2>Countries</h2>
	<ul>
		{% for country in region.country_set.all %}
		{% if country.longname %}
		<li><a href="/countries/country/{{country.id}}/">{{country.shortname}}</a> ({{country.name}})</li>
		{% else %}
		<li><a href="/countries/country/{{country.id}}/">{{country.name}}</a></li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
	
<div class="content">
	<div class="span5">
		<h2>Region statistics</h2>
		<table>
		<tr> 
			<td>Countries:</td><td>{{region.country_set.count}}</td>
		</tr>
		<tr> 
			<td>Population:</td><td>{{region.population}}</td>
		</tr>
		</table>
	</div>
	<div class="span6">
		<h2>International agreements in the region</h2>
		<p>Lorem ipsum sed dolore sit amet...</p>
	</div>
	<div class="span5">
		<h2>Overall Digital Rights Situation</h2>
		<p>Lorem ipsum sed dolore sit amet...</p>
	</div>
	<div class="span6">
		<h2>Map</h2>
		<img src="/static/img/region_{{region.id}}.png">
	</div>
</div>

{% endblock %}
