<div class="span16 topic">
<h2>{{topic.topic.name}}</h2>
<div class="vote">
	<input type="text" class="votebar" id="vote_{{topic.id}}" style="border:0; color:#f6931f; font-weight:bold;" />
	<div id="vote_bar_{{topic.id}}"></div>
	<script>
	$(function() {
		$( "#slider" ).slider({
			value:100,
			min: 0,
			max: 500,
			step: 50,
			slide: function( event, ui ) {
				$.getJSON("/", {}, function(data) {
					
				});
			}
		});
	});
	</script>
</div>
{{topic.wikitext|safe}}
<a href="/sections/edit/{{topic.id}}/" class="btn small right">Edit this topic</a>
</div>
