<div class="span16 topic">
<h2>{{topic.topic.name}}</h2>
<div class="vote">
	<p>Severity: <span id="vote_severity_{{topic.id}}">{{topic.severity}}</span>/10</p>
	<p>Votes: <span id="vote_count_{{topic.id}}">{{topic.votes}}</span></p>
	<p>Vote! <span id="vote_num_{{topic.id}}">1</span>/10	<div id="vote_{{topic.id}}"></div></p>
</div>
<script>
$(function() {
	$("#vote_{{topic.id}}").slider({
		value:1,
		min: 1,
		max: 10,
		step: 1,
		stop: function( event, ui ) {
			var val = $("#vote_{{topic.id}}").slider("value")
			$("#vote_num_{{topic.id}}").text(val);
			$.getJSON("/sections/vote/", {'section': {{topic.id}}, 'vote': val}, function(data) {
				if (data.ok) {
					$("#vote_severity_{{topic.id}}").html(data.severity);
					$("#vote_count_{{topic.id}}").html(data.votes);
					// Done.
				} else {
					// Error.
				}
			});
		}
	});
});
</script>
{{topic.wikitext|safe}}
<a href="/sections/edit/{{topic.id}}/" class="btn small right">Edit this topic</a>
</div>
