{% extends "base.html" %}
{% block content %}

<div class="span8 right" style="text-align: center;">
		<a href="/sections/add/" class="btn">Add a section</a>
		<a href="/topics/add/" class="btn">Create new topic</a>
</div>
<h1>{{topic.name}}</h1>
	
<div class="span4">
</div>
<div class="span4">
</div>
<div class="span4">
</div>
<div class="span5">
</div>

{% for discussion in topic.entitytopic_set.all %}
<div class="span16 topic">
<h2><a href="/countries/country/{{discussion.country.id}}">{{discussion.country.name}}</a></h2>
{{discussion.wikitext|safe}}
<a href="/sections/edit/{{discussion.id}}/" class="btn small right">Edit this discussion</a>
</div>
{% endfor %}

{% endblock %}
