{% extends "base.html" %}
{% block content %}

<div class="span8 right" style="text-align: center;">
		<a href="/sections/add/" class="btn">Add a section</a>
		<a href="/topics/add/" class="btn">Create new topic</a>
</div>
<h1>{{topic.name}}</h1>
	
<div class="span4">
</div>
<div class="span4">
</div>
<div class="span4">
</div>
<div class="span5">
</div>

{% for discussion in topic.section_set.all %}
<div class="span16 topic">
<h2><a href="/regions/{{discussion.region.id}}">{{discussion.region.name}}</a></h2>
{{discussion.wikitext|safe}}
<a href="/sections/edit/{{discussion.id}}/" class="btn small right">Edit this discussion</a>
</div>
{% endfor %}

{% if topic.relitem.count %}
<div class="row">
  <h2>News</h2>
  {% for item in topic.relitem.all|slice:":6" %}
  {% include "diriwa/newsitem_display.html" %}
  {% endfor %}
</div>
{% if topic.relitem.count > 6 %}
<div class="row">
  <a class="btn btn-large" href="/topics/{{topic.id}}/news/">More news! &raquo;</a>
</div>
{% endif %}
{% endif %}

{% endblock %}
